@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Prompt:wght@400;700&display=swap');


:root {
    --primary: linear-gradient(to right, #2c4fff 6.54%, #b200ff 92.06%);
    --font-color: #344767;
    --font-grey: #C7C7C7;
    --accent-color: #7929ff;
}


body{
    font-family: "Prompt", sans-serif;
    background: #F8F8F8;
}

.navbar {
    background-color: #ffffff;

    /*blur effect on a navbar background*/
    /*background-color: rgba(255, 0, 0, 0.35);*/
    /*backdrop-filter: blur(5px);*/

}

.logo{
    font-family: "Krona One", sans-serif;
    background: var(--primary);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 36px;
    font-weight: 700;
    margin-right: 20px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.logo img {
    max-width: 35%;
}

.nav-item{
    margin: 0 10px;
    cursor: pointer;
}

.nav-link{
    color: var(--font-grey);
    transition: color 0.3s ease;
}

.active-page{
    background: var(--primary);
    color: transparent;
    -webkit-background-clip: text;
    position: relative;
    transition: all 0.8s ease;
}

.active-page:after{  /*active page underline*/
    content: '';
    position: absolute;
    left: 20%;
    bottom: 0;
    width: 60%;
    height: 3px;
    background: var(--primary);
    border-radius: 20px;

}

section{
    width: 100%;
    height: 100vh;
}

section:first-child{
    height: 80vh;
}

#home{
    margin-top: 100px;
}

.card{
    height: 180px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    padding: 20px;
    border: 2px solid #b200ff;
}

.card-title{
    color: var(--font-grey);
    font-size: 20px;
}

.count{
    color: var(--font-color);
    font-size: 30px;
}

.card-body i {
    position: absolute;
    right: 10%;
    top: 50%;
    color: var(--font-grey);
    font-size: 60px;
    /*animation: colorChange 6.5s infinite alternate;*/  /*add animation*/
}

.link-page{
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
}

.chart-card{
    height: fit-content;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.03);
    border: none;
    border-radius: 30px;
    padding: 25px;
    background-color: #ffffff;
}

.chart-title{
    font-size: 24px;
    color: var(--font-color);
}

.chart-card div{
    width: 550px;
}

.image-container{
    position: relative;
}

.image-class{                    /* dashboard image size*/
    width: auto;
    height: 380px;
    margin-left: 20px;
}
.header{
    color: var(--font-color);
    margin-top: 100px;
}

th[scope = 'col']{
    background: var(--accent-color);
    color: #ffffff;
    text-align: center;
}

th[scope = 'col']:first-child{
    border-radius: 15px 0 0 15px;
}

th[scope = 'col']:last-child{
    border-radius: 0 15px 15px 0;
}

td, th[scope = 'row']{
    text-align: center;
}

.search{
    position: relative;
}

.search input{
    height: 50px;
    width: 300px;
    text-indent: 30px;
    display: inline;
}
.search .fa-magnifying-glass{
    position: absolute;
    top: 18px;
    left: 16px;
}
.btn-primary{
    height: 50px;
}

.search select{
    width: 125px;
    height: 50px;
    margin-left: 20px;
}

.place_order{
     background: var(--primary);
     border: none;
 }

.order_container{
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.12);
}

.order_container .container .row .col div{
    margin: 15px;
}

.order_container .container h4{
    color: var(--font-color);
}

.cart_btn{
    background: #b200ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.cart_remove{
    background: #ef233c;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 3px 15px 3px 15px;
}
.cart_remove:hover{
    opacity: 0.7;
}

.order_btn {
    background: linear-gradient(90deg, #57cc99, #b200ff);
    background-size: 200% 100%;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media all and (max-width: 992px) {
    .chart-card div{
        width: 300px;
    }
}

@media all and (max-width: 768px) {
    section{
        height: 150vh;
    }

    .chart-card div{
        width: 450px;
    }

    .image-class{
        display: none;
    }

    .active-page:after{
        width: 0;
    }
}
@media all and (max-width: 576px) {
    .chart-card{
        display: none;
    }
}